* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "BreatheFireFont";
  src: url("./assets/BreatheFireFont/Breathe Fire.otf") format("opentype");
  /* Add other font-face properties as needed */
}
@font-face {
  font-family: "Quadrat";
  src: url("./assets/Quadrat/Quadrat-demibold.otf") format("opentype");
  /* Add other font-face properties as needed */
}

.MuiInputBase-root::after {
  border-color: #edeade !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
